<!-- <app-shell header>
    <h1 header>This is the header
    </h1> <br>
    <div body class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" *ngFor="let cat of cats">
                <div class="card" style="width: 18rem;">
                    <img [src]="cat.imageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{cat.id}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                           <button class="btn btn-warning" (click)="editCat(cat.id)"> Edit</button>
                        &nbsp; <button class="btn btn-danger" (click)="deleteCat(cat.id)">Delete</button>
                        &nbsp; <a routerLink="/" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div><br>
    <h2 footer>
        This is the footer
    </h2>
</app-shell> -->

<app-shell [headerTemplate]="headerTemplate" [bodyTemplate]="bodyTemplate"
[footerTemplate]="footerTemplate"
>  
</app-shell>

<ng-template #headerTemplate>This is the header1</ng-template>
<ng-template #bodyTemplate>This is the body1</ng-template>
<ng-template #footerTemplate>This is the footer1</ng-template>
