<!-- <div>
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="authService.isAuthenticated()" class="form-group">
                <nav class="nav flex-row">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                        routerLink="cats">cats</a>
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                        routerLink="cats/create">create</a>
                </nav>
            </div>
        </div>
    </div> 
</div> -->